$globeside: calc(50% - 300px);
$header_margin: calc(8px + 20.5625vw);


#name-font{
    // position: relative;
    // display: flex;
    // justify-content: left;
    // font-size: 70px;
    font-size: 64px !important;
    line-height: 68px !important;
}
#sub-text{
    // position: relative;
    // display: flex;
    // justify-content: left;
    // font-size: 70px;
    font-size: 34px !important;
    line-height: 38px !important;
}


.text-gradient-mint-blue-dark {
    background: -webkit-linear-gradient(-70deg, #a2facf 0%, #64acff 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-box-decoration-break: clone;
}

#body{
    // position: relative;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    margin-top: 5vh;
    left: 50%;
    
}
.center{
    background-color: rgba(255, 255, 255, 0);
    margin: 0mm;
    width: fit-content;
}
#main{
    width: 100%;
    height: 100%;
    
}
#center{
    margin: auto;
    width: 60%;
    border: 3px solid green;
    
}
#globeGL{
    position: absolute;
    // top: 0;
    // right: 0;
    z-index: -100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

#app-header{
    z-index: 50;
    display: flex;
    box-sizing: border-box;
    left: 50%;
    // margin-left: $header_margin;
    // margin-right: $header_margin;
}

@media (min-width: 1012px){
.p-responsive {
    padding-right: 20em !important;
    padding-left: 20em !important;
}}
@media (min-width: 544px){
.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}}
.p-responsive {
    padding-right: 16px !important;
    padding-left: 16px !important;
}
.height-full {
    height: 100% !important;
}
.position-relative {
    position: relative !important;
}
@media (min-width: 1012px){
.flex-lg-row {
    flex-direction: row !important;
}}
.flex-items-center {
    align-items: center !important;
}
.flex-column {
    flex-direction: column !important;
}
.container-xl {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

div {
    display: block;
}