<div  id="app-header" class="theme-switcher">
  <app-header class="p-responsive"></app-header>  
  <mat-icon id="theme-switcher" [(ngModel)]="isChecked" (click)="changed()"  >{{ mode }}</mat-icon>
</div>

<body id="body">
  <main id="main">
    <div id="center" class="center">
      <h2 id="sub-text" class="text-gradient-mint-blue-dark">Hello! My name is</h2>
      <h2 id="name-font" class="text-gradient-mint-blue-dark">Max Beckmann</h2>
      <!-- infinite loop -->
      <ngx-typed-js [strings]="['Geovisualisation', 'Geoinformatics','Deeplearning','Datascience']" [loop]="true" [cursorChar]="'_'">
        <h2 id="sub-text" class="text-gradient-mint-blue-dark">And I do <span class="typing"></span></h2>
      </ngx-typed-js>
    </div>
    <div id="globeGL">
      <app-globe-gl class="app-globe-gl" (window:resize)="onResize($event)" #appSetGlobeStyle></app-globe-gl>
    </div>
  </main>
</body>
<router-outlet></router-outlet>