<app-header id="app-header" class="p-responsive"></app-header>
<body id="body">
  <main id="main"> 
    <div id="center" class="center">
      <h2 id="name-font" class="text-gradient-mint-blue-dark" >Max Beckmann</h2>
      <h4 id="sub-text" class="text-gradient-mint-blue-dark">Im a Msc Student of applied Geoinformatics and im in love with creating things.</h4>
    </div>
    <div id="globeGL">
      <app-globe-gl class="app-globe-gl" (window:resize)="onResize($event)" #appSetGlobeStyle></app-globe-gl>
    </div>
  </main>
</body>
<router-outlet></router-outlet>